.employeeSelect .suggestion {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-width: 0;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  cursor: pointer;
  display: flex;
  height: 64px;
  transition: background-color 0.15s;
  width: 100%;
}

.employeeSelect .suggestion:focus {
  background: hsl(160, 50%, 98%);
  outline: 0;
}

.employeeSelect .suggestion .nameWrapper {
  padding-right: 20px;
  text-align: left;
  width: calc(100% - 16px - 30px - 10px);
}

.employeeSelect .suggestion .name {
  color: hsl(0, 0%, 25%);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.15s;
  white-space: nowrap;
}

.employeeSelect .suggestion:focus .name {
  color: hsl(153, 66%, 45%);
}

.employeeSelect .suggestion .email {
  color: hsl(0, 0%, 50%);
  font-size: 12px;
  font-style: normal;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
