.employeeSelect .selection {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border-width: 0;
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  display: flex;
  height: 40px;
  outline: 0;
  position: absolute;
  transition: background-color 0.15s;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.employeeSelect .selection .avatarWrapper {
  height: 42px;
  margin-left: 10px;
}

.employeeSelect .selection .nameWrapper {
  padding-right: 40px;
  text-align: left;
  width: calc(100% - 16px - 30px - 10px);
}

.employeeSelect .selection .name {
  color: hsl(0, 0%, 25%);
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.15s;
  white-space: nowrap;
}

.employeeSelect .selection:focus .name {
  color: hsl(153, 66%, 45%);
}

.employeeSelect .selection .email {
  color: hsl(0, 0%, 50%);
  font-size: 12px;
  font-style: normal;
  margin-top: -2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employeeSelect .removeSelection {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;
  outline-color: hsl(153, 59%, 40%);
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.employeeSelect .removeSelection img {
  height: 12.5px;
}
