.avatarWrapper {
  height: 64px;
  margin: 0 10px 0 16px;
  position: relative;  /* Trigger stacking context for monogram and profile picture */
  width: 30px;
}

.avatar img {
  border-radius: 6px;
  height: 30px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  z-index: 1;
}

.avatar .monogram {
  border-radius: 6px;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: 500;
  height: 30px;
  left: 50%;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
}
