.employeeSelect {
  position: relative; /* Trigger stacking context for the suggestions */
  width: auto;
}

.employeeSelect.narrow {
  width: 252px;
}

.employeeSelect.normal {
  width: 336px;
}

.employeeSelect.wide {
  width: 420px;
}

.employeeSelect .selectLabel {
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  margin-left: 10px;
}

.employeeSelect .selectLabel.inputDisabled {
  cursor: default;
}