.employeeSelect .queryInput {
  background-color: transparent;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border-width: 0;
  color: hsl(0, 0%, 25%);
  display: block;
  font-weight: 400;
  height: 100%;
  outline: none; /* We can do better #a11y TODO: */
  padding: 0 10px;
  width: calc(100% - 12.5px - 10px);
}

.employeeSelect .ghost.queryInput {
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: opacity 0.2s;
  width: calc(100% - 12.5px - 10px);
  z-index: 1;
}

.employeeSelect:not(:focus-within) .ghost.queryInput {
  background: white;
  opacity: 1;
}

.employeeSelect .caret {
  height: 12.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.employeeSelect .caret.upsideDown {
  transform: translateY(-50%) scaleY(-1);
}

.employeeSelect .queryInputWrapper .spinnerWrapper {
  overflow: hidden;
  pointer-events: none;
}

.employeeSelect .queryInputWrapper .spinner {
  height: 15px;
  position: absolute;
  right: 8px;
  top: calc(50% - (15px / 2) + 1px);
  width: 15px;
}
