.employeeSelect .selection {
  height: 40px;
  border-width: 0;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.15s;
  position: absolute;
  z-index: 1;
}

.employeeSelect .selection .avatarWrapper {
  height: 42px;
  margin-left: 10px;
}

.employeeSelect .selection .nameWrapper {
  width: calc(100% - 16px - 30px - 10px);
  padding-right: 40px;
  text-align: left;
}

.employeeSelect .selection .name {
  color: hsl(0, 0%, 25%);
  font-size: 14px;
  transition: color 0.15s;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.employeeSelect .selection:focus .name {
  color: #27c07c;
}

.employeeSelect .selection .email {
  margin-top: -2px;
  font-style: normal;
  color: hsl(0, 0%, 50%);
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.employeeSelect .removeSelection {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  padding: 5px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.employeeSelect .removeSelection img {
  height: 12.5px;
}
