@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate 1s infinite linear;
  border: solid hsl(148, 58%, 44%);
  border-left-color: transparent;
  position: relative;
  transform: translateZ(0);
  user-select: none;
  z-index: 1;
}

.spinner, .spinner:after {
  border-radius: 50%;
}

.spinner:after {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}