.employeeSelect .queryInputWrapper {
  width: 100%;
  height: 42px;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  position: relative; /* Trigger stacking context for the caret */
}
