.employeeSelect .selection {
  height: 40px;
  border-width: 0;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  border-radius: 6px;
  width: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.15s;
  position: absolute;
  z-index: 1;
}

.employeeSelect .selection.focus { /* TODO: Make sure I use this */
  background: hsl(160, 50%, 98%);
  outline: 0;
}

.employeeSelect .selection .avatarWrapper {
  height: 42px;
}

.employeeSelect .selection .nameWrapper {
  width: calc(100% - 16px - 30px - 10px - 30px);
  text-align: left;
}

.employeeSelect .selection .name {
  color: hsl(0, 0%, 25%);
  font-size: 14px;
  transition: color 0.15s;
}

.employeeSelect .selection:focus .name {
  color: #27c07c;
}

.employeeSelect .selection .email {
  margin-top: -2px;
  font-style: normal;
  color: hsl(0, 0%, 50%);
  font-size: 12px;
}

.employeeSelect .removeSelection {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  padding: 5px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.employeeSelect .removeSelection img {
  height: 12.5px;
}

.employeeSelect .queryInputWrapper {
  width: 100%;
  height: 42px;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  border-radius: 6px;
  background-color: hsl(0, 0%, 100%);
  position: relative; /* Trigger stacking context for the caret */
}

.employeeSelect .queryInput {
  border-width: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: calc(100% - 12.5px - 10px);
  height: 100%;
  background-color: transparent;
  padding: 0 10px;
  opacity: 1;
  outline: none; /* We can do better #a11y TODO: */
  font-weight: 400;
  color: hsl(0, 0%, 25%);
}

.employeeSelect .queryInput.showsPlaceholder {
  opacity: 0.85;
  font-weight: 300;
}

.employeeSelect .caret {
  height: 12.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.employeeSelect .caret.upsideDown {
  transform: translateY(-50%) scaleY(-1);
}
