.employeeSelect .queryInputWrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 1px 0 hsl(0, 0%, 90%);
  height: 42px;
  position: relative; /* Trigger stacking context for the caret */
  width: 100%;
}

.employeeSelect .queryInputWrapper:focus-within {
  border-color: hsl(153, 59%, 60%);
  box-shadow: 0 1px 0 hsl(153, 59%, 70%);
}

.employeeSelect .queryInputWrapper.disabled {
  background-color: #e8e8e8;
  border-color: #e2e2e2;
}
