.employeeSelect {
  position: relative; /* Trigger stacking context for the suggestions */
  width: auto;
}

.employeeSelect.narrow {
  width: 252px;
}

.employeeSelect.normal {
  width: 336px;
}

.employeeSelect.wide {
  width: 420px;
}

.employeeSelect .selectLabel {
  color: hsl(0, 0%, 50%);
  cursor: pointer;
  display: block;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2.5px;
  max-width: 100%;
  overflow: hidden;
  padding: 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employeeSelect .selectLabel.inputDisabled {
  cursor: default;
}
