.employeeSelect .suggestionsWrapper {
  background-color: hsl(0, 0%, 100%);
  border-radius: 6px;
  border: 1px solid hsl(0, 0%, 80%);
  box-shadow: 0 3px 0 hsl(0, 0%, 90%);
  left: 0;
  margin-bottom: 10px;
  margin-top: 2px;
  max-height: calc(5 * 42px);
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  scroll-behavior: smooth;
  top: 100%;
  user-select: none;
  width: 100%;
}

.employeeSelect .suggestionsWrapper > ul {
  list-style-type: none;
}

.employeeSelect:not(:focus-within) .suggestionsWrapper {
  display: none;
}

.employeeSelect .suggestionsWrapper .spinnerWrapper {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  pointer-events: none;
}

.employeeSelect .suggestionsWrapper .spinner {
  height: 30px;
  width: 30px;
}

