.employeeSelect .queryInput {
  display: block;
  border-width: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: calc(100% - 12.5px - 10px);
  height: 100%;
  background-color: transparent;
  padding: 0 10px;
  outline: none; /* We can do better #a11y TODO: */
  font-weight: 400;
  color: hsl(0, 0%, 25%);
}

.employeeSelect .ghost.queryInput {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 12.5px - 10px);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.2s;
}

.employeeSelect:not(:focus-within) .ghost.queryInput {
  opacity: 1;
  background: white;
}

.employeeSelect .caret {
  height: 12.5px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.employeeSelect .caret.upsideDown {
  transform: translateY(-50%) scaleY(-1);
}
