@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  position: relative;
  z-index: 1;
  border: 3px solid hsl(148, 58%, 44%);
  border-left-color: transparent;
  transform: translateZ(0);
  animation: rotate 1s infinite linear;
  user-select: none;
}

.spinner, .spinner:after {
  border-radius: 50%;
  width: 25px;
  height: 25px;
}