.employeeSelect .suggestion {
  height: 64px;
  border-width: 0;
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 90%);
  display: flex;
  align-items: center;
  transition: background-color 0.15s;
  cursor: pointer;
}

.employeeSelect .suggestion:focus {
  background: hsl(160, 50%, 98%);
  outline: 0;
}

.employeeSelect .suggestion .nameWrapper {
  width: calc(100% - 16px - 30px - 10px);
  text-align: left;
}

.employeeSelect .suggestion .name {
  color: hsl(0, 0%, 25%);
  font-size: 14px;
  transition: color 0.15s;
}

.employeeSelect .suggestion:focus .name {
  color: #27c07c;
}

.employeeSelect .suggestion .email {
  margin-top: 3px;
  font-style: normal;
  color: hsl(0, 0%, 50%);
  font-size: 12px;
}
